<div id="demo" ng-controller="postController as posts">
    
    
    <h1>Last update</h1> 
    <p ng-bind="posts.time"></p>
    
    {{posts.post}}
    <form name="nabform" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Posts</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userId">Id Usuario</label>  
                <div class="col-md-4">
                    <input id="userId" name="userId" ng-model="posts.post.name" placeholder="42" class="form-control input-md" required="" type="text" />
                    <h1>{{nabform.userId.$valid}}</h1> - Valid
                    <h3>{{nabform.userId.$untouched}}</h3> - Untouched
                    <h3>{{nabform.userId.$touched}}</h3>  - Touched
                    <h3>{{nabform.userId.$pristine}}</h3> - Pristine
                    <h3>{{nabform.userId.$dirty}}</h3>  - Dirty
                    <h3>{{nabform.userId.$invalid}}</h3>  - Invalid
                   
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="id">Id Post</label>  
                <div class="col-md-4">
                    <input id="id" name="ids" ng-model="posts.post.id" placeholder="13" class="form-control input-md" required="" type="text" />
                    <span ng-show="nabform.ids.$invalid">Id es obligatorio</span>
                </div>
            </div>



            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error': nabform.title.$invalid }">
                <label class="col-md-4 control-label" for="title">Titulo</label>  
                <div class="col-md-4">
                    <input id="title" name="title" ng-model="posts.post.title" placeholder="El post" class="form-control input-md" required="" type="text" />

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group" ng-class="{ 'has-error': nabform.body.$invalid }">
                <label class="col-md-4 control-label" for="body">Contenido</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="body" name="body" ng-model="posts.post.body" dummy-control>Este es un post</textarea>
                </div>
            </div>


            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ok"></label>
                <div class="col-md-8">
                    <button id="ok" name="ok" class="btn btn-success" ng-click="posts.save()" ng-disabled="nabform.$invalid">Aceptar</button>
                    <button id="cancel" name="cancel" class="btn btn-danger" ng-click="posts.cancel()">Cancelar</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>